@import "../../utils/global-style";

.card-form {
    display: inline-block;
    vertical-align: text-top;
    margin: 50px 0 0 170px;

    .bread-crumb {
        padding-left: 17px;
        color: $orange-color;

        @media (max-width: $mobile-bp) {
            display: none;
        }
    }

    .step {
        display: inline-flex;
        align-items: center;
        vertical-align: text-top;
        margin-right: 24px;

        &:last-child {
            .arrow-right {
                display: none;
            }
        }
    }

    .step-number {
        width: 22px;
        height: 22px;
        //text-align: center;
        //padding-top: 1px;
        border-radius: 50%;
        border: 1px solid $orange-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: bold;
    }

    .check {
        width: 22px;
    }

    .step-label {
        font-size: 14px;
        margin: 0 13px;
        font-weight: normal;
    }

    .arrow-right {
        width: 9px;
    }

    .form {
        display: flex;
        position: relative;
        width: 440px;
        margin-top: 47px;
        text-align: right;
    }

    .form-control {
        width: 440px;
    }

    .text-field {
        width: 100%;
    }

    .card-name {
        margin-top: 10px;
    }

    @media (max-width: $mobile-bp) {
        margin-left: 0;
        left: 50%;
        position: relative;
        transform: translate(-50%);
    }
}

//.MuiFormControl-root{
//    width: 100%;
//}