.arrow-icon {
    width: 14px;
    position: absolute;
    bottom:33px;
    right: 5px;
}

.MuiInput-underline:before{
    border-bottom: 2px solid #C9C9C9 !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #C9C9C9 !important;
}

.MuiSelect-select:focus {
    background: none !important;
}

.MuiSvgIcon-root, .MuiSelect-icon {
    display: none !important;
}

.MuiInputBase-root {
    text-align: left;
}