@import "../../utils/global-style";

.error-message {
    display: inline;
    text-align: left;
    font-size: 13px;
    color: $orange-color;
    margin-top: 5px;
    height: 16px;
}

.classPapaer {
    border: 1px solid #000;
}

.fullWidth { width: 100%}