$mobile-bp: 1024px;
$orange-color: #DE4B4B;

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    align-items: center;

    @media (max-width: $mobile-bp) {
        width: 100%;
    }
}

body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;

    @media (max-width: $mobile-bp) {
        align-items: flex-start;
    }
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.content-grid {
    width: 100%;
    max-width: 1369px;
    background-color: red;
    margin: 0 auto;
}