@import "../../utils/global-style";

.title-bar {
    width: 352px;
    height: 100%;
    background-color: $orange-color;
    text-align: center;
    color: white;
    display: inline-block;
    vertical-align: text-top;

    .back-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 53px;

        @media (max-width: $mobile-bp) {
            padding-top: 38px;
            width: 100%;
            justify-content: left;
        }
    }

    .steps {
        display: none;
        font-size: 13px;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%);

        @media (max-width: $mobile-bp) {
            display: block;
        }
    }

    .arrow-left {
        width: 8px;
        margin-right: 10px;

        @media (max-width: $mobile-bp) {
            width: 12px;
            margin: 0 0 0 13px;
        }
    }

    .back-button-text {
        color: white;
        font-size: 13px;
        margin-left: 10px;

        @media (max-width: $mobile-bp) {
            display: none;
        }
    }

    .card-title {
        text-align: left;
        margin: 50px 0 0 63px;
        display: flex;
        align-items: center;

        @media (max-width: $mobile-bp) {
            margin-top: 25px;
        }
    }

    h2 {
        clear: both;
    }

    .card-icon {
        vertical-align: text-top;
        display: inline-block;
        float: left;

        @media (max-width: $mobile-bp) {
            width: 40px;
            margin-left: 5px;
        }
    }

    .title {
        width: 210px;
        font-size: 20px;
        display: inline-block;
        color: white;
        margin: 2px 0 0 14px;
        vertical-align: text-top;

        @media (max-width: $mobile-bp) {
            font-size: 16px;
            margin: 0 0 0 16px;
        }
    }

    .card-image {
        display: inline-block;
        width: 365px;
        height: 224px;
        margin: 31px 0 0 61px;
        color: white;
        perspective: 1000px;

        @media (max-width: $mobile-bp) {
            margin: -11px 0 0;
            transform: scale(0.77);
        }
    }

    .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .card-image--flip .card-inner {
        transform: rotateY(180deg);
    }

    .card-front, .card-back {
        position: absolute;
        width: 99.8%;
        height: 100%;
        backface-visibility: hidden;
    }

    .card-front {
        background-image: url('/assets/img/card-front.svg');
        box-shadow: 12px 12px 14px 0px rgba(50, 50, 50, 0.14);
        border-radius: 10px;
    }

    .card-back {
        transform: rotateY(180deg);
        background-image: url('/assets/img/card-back.svg');
        box-shadow: 12px 12px 14px 0px rgba(50, 50, 50, 0.14);
        border-radius: 10px;
    }

    .card-number,
    .owner-name,
    .expiration-date {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .card-number, .cvv {
        font-size: 19px;
        letter-spacing: 5px;
    }

    .card-number {
        margin: 106px 0 37px;
        height: 23px;
    }

    .cvv {
        color: black;
        margin: 111px 0 0 33px;
        font-size: 16px;
    }

    .owner-name {
        text-transform: uppercase;
        display: inline-block;
        float: left;
        margin-left: 30px;
        letter-spacing: -0.02em;
    }

    .expiration-date {
        display: inline-block;
        float: right;
        letter-spacing: -0.02em;
        margin-right: 33px;
    }

    @media (max-width: $mobile-bp) {
        width: 100%;
        height: 239px;
    }
}