@import "./utils/global-style";

.App {
    width: 1024px;
    height: 596px;
    border: 2px solid #ededed;
    background-color: white;
    //text-align: center;

    @media (max-width: $mobile-bp) {
        border: none;
        width: 100%;
        min-height: 100%;
    }
}